<!-- views/logout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Logout</title>
    <style>
      body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.logout-message {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #45a049;
}
    </style>
</head>
<body>
    <%- include ('../partials/navigation.ejs') %>

    <div class="logout-message">
        <h1>Sad to see you leave!</h1>
        <!-- You can add more content or messages here if needed -->
    </div>

    <%- include ('../partials/footer.ejs') %>
</body>
</html>
