<!-- views/thank-you.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
</head>
<body>
  <%- include ('./partials/navigation.ejs') %>
  
  <h1>Thank You for Booking a Lesson!</h1>

  <!-- Add any additional content or links you want on the thank-you page -->

  <%- include ('./partials/footer.ejs') %>
</body>
</html>
